<section id="sidebyside" class="sidebyside">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Trusted Removals for Dublin
      </h2>
      <p>
        Quick Fix Removals provide rubbish removal and safe and secure transportation across Dublin. Our commited team of insured and licensed experienced movers
        provide an efficient and reliable service at affordable rates with customer satisfaction guaranteed. Our Professional drivers offer same day delivery and flexible scheduling. Whether it is a simple piano removal or a breakdown, Our team will
        always go above and beyond to ensure customer satisfaction and a job well done. We offer moving services from single item delivery to full home relocation
      </p>
      <p>
        <strong>Our Services:</strong>
      </p>
      <ul>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services#office"
            >Home Office Setup / Office Removals</a
          >
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Apartment Removals</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Moving Services</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Man with a Van Service</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Local and long distance moves</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services#car">Motorbike & Car Breakdown Removals</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Loading and Unloading Assistance</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Packing services</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services#clean">Deep Cleaning / Home Cleaning</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Packing services</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Large item transportation</a>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <a href="/services">Student Removals</a>
        </li>
      </ul>
      <p>
        Established in 2018 Quick Fix Removals is a locally owned and operated rubbish removal service focused on bringing high quality and efficent work.
        Reach out today for a quote. 
      </p>
      <a class="button-6" href="/contact">Get Quote</a>
    </div>
    <picture class="image-box">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/movers-small.webp"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/movers-small.webp"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/movers-small.webp"
        alt="movers"
      />
    </picture>
  </div>
</section>

