<!-- ============================================ -->
    <!--                  Why Choose                  -->
    <!-- ============================================ -->

    <section id="why-choose-7500">
        <div class="container">
            <div class="cs-content-group">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">We Cover Dublin & Surroundings</h2>
                <p class="cs-text">
                    For longer distance jobs please get in contact us with details about the job needed and we will provide you with a quote. We respond quickly to all enquiries. We cover Dublin 1, Dublin 2, Dublin 3, Dublin 4 & Other Areas not limited to :
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Wicklow Town
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Arklow
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Bray
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Greystones
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Rathdrum
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Navan
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Trim
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Kells
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Slane
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="asyn" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                        Ashbourne
                    </li>
                </ul>
                <a href="/contact" class="button-6">Request A Quote Today</a>
            </div>
        </div>
        <!-- Right Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/lightbulb-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/lightbulb.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/lightbulb.jpg" alt="lightbulbs on a wire" width="858" height="781">
        </picture>
    </section>
                                