<section id="int-hero">
    <h1 id="home-h">Pricing</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/truck-small.webp"
      />
      <source media="(min-width: 601px)" srcset="/assets/images/truck-big.webp" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/truck-big.webp"
        alt="code"
        width="400"
        height="662"
      />
    </picture>
  </section>
  <section id="sidebyside" class="sidebyside">
    <div class="container">
      <div class="content">
        <p>
          <strong>Our Prices:</strong>
        </p>
        <ul>
          <li>
            <span>Apartment / Home Removals - <b>€75/hr</b></span>
          </li>
          <li>
            <span>Small Van Moves - <b>€65/hr</b></span>
          </li>
          <li>
            <span>High Roof Transit Van - <b>€225 for first two hours</b></span>
          </li>
          <li>
            <span>Home and Garden Waste Disposal - <b>€65/hr</b></span>
          </li>
          <li>
            <span>Local Motorbike & Car Breakdown Removals - <b>€75</b></span>
          </li>
          <li>
            <span>Same Area Furniture Colleciton - <b>€50/hr</b></span>
          </li>
          <li>
            <span>Piano Transport - <b>€150</b></span>
          </li>
          <li>
            <span>Deep Cleaning / Home Cleaning - <b>€25/hr per cleaner</b></span>
          </li>
        </ul>
        <p>
          Established in 2018 Quick Fix Removals is a locally owned and operated rubbish removal service focused on bringing high quality and efficent work.
          Reach out today for a quote. 
        </p>
        <a class="button-6" href="/contact">GET IN TOUCH</a>
      </div>
      <picture class="image-box">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/movers-small.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/movers-small.webp"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/movers-small.webp"
          alt="movers"
        />
      </picture>
    </div>
  </section>