<section id="int-hero">
    <h1 id="home-h">Pay Hourly Services</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/truck-small.webp"
      />
      <source media="(min-width: 601px)" srcset="/assets/images/truck-big.webp" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/truck-big.webp"
        alt="code"
        width="400"
        height="662"
      />
    </picture>
  </section>
  <div class="services">
    <div class="container-block">

      <div class="service-block-r">
        <div class="service-image">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/workers-small.webp"
              width="300px"
              
            />
            <source media="(max-width: 1280px)" srcset="/assets/images/workers-small.webp" width="400px"/>
      
            <source media="(min-width: 1281px)" srcset="/assets/images/workers-small.webp" />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/workers-small.webp"
              alt="meeting"
            />
            </picture>
        </div>
        <div class="service-text">
          <div class="title">
            <h2>QuickFixRemovals Checkout</h2>
          </div>
          <div class="text">
            Pay for your QuickFixRemovals service online!
           <a class="button-6" href="https://buy.stripe.com/cN24hM70B9lN0BG3ci" target="_blank">Pay Here</a>
          </div>
       </div>
      </div>
    </div>
  </div>